svg {
  --light-gray: #eeeef5;
  --dark-gray: #9a9ba7;

  .parrishes {
    fill: var(--light-gray);
    stroke: #fff;
    stroke-width: 3px;
    opacity: 0;
    transition: opacity 1s ease;

    .in-global & {
      opacity: 1;
      transition: opacity 1s ease 0.5s;
    }
  }

  .reserve {
    transform-origin: 20% top;
    transform: scale(2);
    transition: transform 1s ease-out;

    .in-global & {
      transform: none;
      transition: transform 1s ease 0.5s;
    }
  }

  .buffer {
    fill: var(--light-gray);
    stroke: #fff;
    stroke-width: 3px;
    transition: all 1s ease 0.5s;

    .in-global & {
      fill: var(--dark-gray);
    }

    .in-buffer & {
      fill: var(--dark-gray);
      transition: all 1s ease 1s;
    }

    .in-core &,
    .in-transition & { transition: all 1s ease; }

    &-text {
      fill: #fff;
      opacity: 0;
      transition: all 1s ease 0.5s;

      .in-global & {
        opacity: 1;
      }
    }
  }

  .core {
    fill: var(--light-gray);
    transition: all 1s ease;

    .in-global & { opacity: 0; }

    .in-core & {
      fill: var(--dark-gray);
      transition: all 1s ease 1s;
    }

    &-text {
      font-size: 8px;
      fill: #fff;
      opacity: 0;

      .in-core & {
        opacity: 1;
        transition: all 1s ease 1s;
      }
    }
  }

  .transition {
    fill: var(--light-gray);
    transition: all 1s ease;

    .in-core &,
    .in-global & { opacity: 0; }

    .in-transition & {
      fill: var(--dark-gray);
      transition: all 1s ease 1s;
    }
  }
}
