@font-face {
  font-family: LexendDeca;
  src:
    url("/fonts/lexenddeca.woff") format("woff"),
    url("/fonts/lexenddeca.woff2") format("woff2");
}

@font-face {
  font-family: Viga;
  src:
    url("/fonts/viga.woff") format("woff"),
    url("/fonts/viga.woff2") format("woff2");
}

#app {
  font-size: 1rem;
  line-height: 1.2;
  font-family: LexendDeca, Arial, sans-serif;
}

h1 { font-size: min(4.5rem, 12vw); }
h2 { font-size: 1.75rem; }
h3 { font-size: 1.25rem; }

h1,
h2,
h3 {
  font-family: Viga, Arial, sans-serif;
  margin: 0 0 1rem;
  position: relative;

  .hero & {
    width: 75%;
    text-shadow: 0 0 1em #000;
  }

  &.center { max-width: 70%; }
}

p {
  font-size: 1rem;
  margin: 1rem 0;
  line-height: 1.2;
  position: relative;
}

a {
  color: inherit;
}

strong { font-weight: bold; }

em,
i { font-style: italic; }

.cta {
  display: inline-block;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  padding: 0.75rem 1rem;
  border: 2px solid currentcolor !important;
  background: transparent;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

p.loading {
  margin: 4rem 0 !important;
  text-align: center;
  color: #0004;
}
