@font-face {
  font-family: 'LexendDeca';
  src:
    url('/fonts/lexenddeca.woff') format('woff'),
    url('/fonts/lexenddeca.woff2') format('woff2');
}

@font-face {
  font-family: 'Viga';
  src:
    url('/fonts/viga.woff') format('woff'),
    url('/fonts/viga.woff2') format('woff2');
}

#app {
  font-size: 1rem;
  line-height: 1.2;
  font-family: 'LexendDeca', Arial, sans-serif;
}

h1 { font-size: 4.5rem; }
h2 { font-size: 1.75rem; }
h3 { font-size: 1.25rem; }

h1,
h2,
h3 {
  font-family: 'Viga', Arial, sans-serif;
  margin: 0 0 1rem;
  position: relative;

  .hero & {
    width: 75%;
    text-shadow: 0 0 1em #000;
  }
}

p {
  font-size: 1rem;
  margin: 1rem 0;
  line-height: 1.2;
  position: relative;
}

a {
  color: inherit;

  &.cta { border: 2px solid currentColor !important; }
}

.center {
  text-align: center;
  width: 70%;
  margin: 0 auto;
}
